<h1> <%= @restaurant.name %></h1>

<div>
  <h4>Details: </h4>
  <p> <strong>Adress:</strong> <%= @restaurant.address %> </p>
  <p> <strong>Phone Number:</strong> <%= @restaurant.phone_number %></p>
  <p> <strong>Category:</strong> <%= @restaurant.category %></p>
</div>
<div>
  <h4>Reviews: </h4>
  <ul class="list-group">
    <% @restaurant.reviews.each do |review| %>
      <li class="list-group-item"><strong>Content:</strong> <%= review.content %> <strong>Rating:</strong> <%= review.rating %></li>
    <% end %>
  </ul>
</div>

<%= link_to 'Back to list', restaurants_path %>
<%= link_to 'Add Review', new_restaurant_review_path(@restaurant) %>
